<md-content md-theme="default" layout-gt-sm="row" layout-padding>
    <div>
      	<md-input-container>
        	<label>Search for an article</label>
        	<input ng-model="articleSearch">
		</md-input-container>
	</div>
</md-content>

<md-table-container ng-controller="sampleController">
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head md-order="query.order" md-on-reorder="getDesserts">
      <tr md-row>
        <th md-column md-order-by="nameToLower"><span>Dessert (100g serving)</span></th>
        <th md-column md-numeric md-order-by="calories"><span>Calories</span></th>
        <th md-column md-numeric>Fat (g)</th>
        <th md-column md-numeric>Carbs (g)</th>
        <th md-column md-numeric>Protein (g)</th>
        <th md-column md-numeric>Sodium (mg)</th>
        <th md-column md-numeric>Calcium (%)</th>
        <th md-column md-numeric md-order-by="iron">Iron (%)</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="dessert" md-select-id="name" md-auto-select ng-repeat="dessert in desserts | filter : articleSearch ">
        <td md-cell>{{dessert.name}}</td>
        <td md-cell>{{dessert.calories}}</td>
        <td md-cell>{{dessert.fat | number: 1}}</td>
        <td md-cell>{{dessert.carbs}}</td>
        <td md-cell>{{dessert.protein | number: 1}}</td>
        <td md-cell>{{dessert.sodium}}</td>
        <td md-cell>{{dessert.calcium}}</td>
        <td md-cell>{{dessert.iron}}</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>