<div style="height:300px;width:100%;background:rgba(31, 199, 98, 0.75);position:absolute;top:0px;z-index:1;text-align:center">
	<h2 class="md-display-1">MangCMS</h2>
	<p class="md-body-2">Dashboard</p>
</div>
<div layout="row" layout-align="center center" style="margin:0 auto;width:50%;margin-top:200px;box-shadow:1px 1px 7px 0 rgba(145,145,145,.5);z-index:2;background:white;position:relative">
	<div flex="100">
		<div layout="row" layout-align="center center" style="text-align:center">
			<h2 flex="20" class="md-headline">LOGIN</h2>
		</div>
		<form name="login" ng-submit="login.$valid && login()" novalidate>
			<div layout="row" layout-align="center center">
				<md-input-container flex="80">
	        		<label>Username</label>
	        		<input name="username" ng-model="username" required>
	        		<span ng-show="(login.$submitted || login.username.$touched) && login.username.$invalid" class="md-caption">Username is required</span>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-input-container flex="80">
	        		<label>Password</label>
	        		<input name="password" type="password" ng-model="password" required>
	        		<span ng-show="(login.$submitted || login.password.$touched) && login.password.$invalid" class="md-caption">Password is required</span>
				</md-input-container>
			</div>
			<div layout="row" layout-align="center center">
				<md-button type="submit" class="md-raised md-accent" style="margin-bottom:20px">Login</md-button>
			</div>
		</form>
	</div>
</div>
